*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #53575a;
    font-family: notoSans,"sans-serif"
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #2bb63b, #FFFF00);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
